/*
!/.gitlab/
!/app/
!/services/
!/docs/
!/logs/
/docs/*.go
!/tests/
!/.env.example
!/.gitignore
!/.gitlab-ci.yml
!/kubernetes-deploy*.yml
!/docker-compose.yml
!/Dockerfile
!/go.mod
!/go.sum
!/main.go
!/magic.py
!/erd.jpg
!/README.md
!/LICENSE
